.Top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999999;
    opacity: 0;
    transition: opacity ease-in-out .1s;
    pointer-events: none;
}

.back-to-top-show {
    opacity: .4;
    pointer-events: all;
}

.Top:hover {
    opacity: .8;
}